@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 1.125rem;
    background-color: var(--almostWhite);
}

.btn{
    border-radius: 0.75rem;
}

.btn.outline-btn{
    color: var(--mediumGray);
    border: 1.5px solid var(--mediumGray);
}

.btn.filled-btn{
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    border: 1px solid var(--almostBlack);
}

.btn.filled-btn:hover, .btn.outline-btn:hover{
    background-color: var(--almostWhite);
    color: var(--almostBlack);
}

.btn.filled-btn:hover{
    font-weight: bold;
}

/* Navbar */
.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.change-icon{
    content: url(images/icon-arrow-up.svg);
}

.dropdown-menu{
    /*padding-left: 0.5rem;*/
    border-radius: 0.5rem;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    max-width: fit-content;
}

.dropdown-item{
    color: var(--mediumGray);

    padding-left: 1.3rem;
}

.dropdown-item img{
    width: 0.8rem;
}

.dropdown-item span{
    margin-left: 10px;
}

/* Override Bootstrap Navbar link color */
.navbar-nav .nav-item .nav-link {
    color: var(--mediumGray);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: var(--almostBlack);
}

/* ----------------------- */

/* Hero Section */
#hero-section{
    padding-top: 4rem;
}

#hero-section h1{
    font-size: 4rem;
    font-weight: 700;
}

.hero-col{
    padding: 1rem 4rem;
}
/* ----------------------- */



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media only screen and (max-width:  991px){
    .dropdown-menu{
        border: 0;
        box-shadow: none;
        max-width: 100%;
    }

    .navbar-nav:last-child .nav-item{
        width: 100%;
        margin: 0.4rem 0;
    }

    .navbar-nav:last-child .nav-item .nav-link{
        text-align: center;
    }

    .navbar-nav:last-child .nav-item .btn{
        width: 100%;
    }
}